@*Abbie Luper's About Page*@

@{
    ViewData["Title"] = "About Page";
    ViewData["Header"] = "About Bookstore";
}

<br />
<h5 style="color: #545557;">Welcome to our online bookstore! We sell books from all different genres!</h5>


