@inherits LayoutComponentBase
@*<div class="bg-info text-white p-2">
        <span class="navbar-brand m-lg-2">Bookstore Administration</span>
    </div>*@

@*<div class="p-2">
        <span class="navbar-brand m-lg-2">Bookstore Administration</span>
    </div>*@

@*BOOTSTRAP EXTRA*@
<section class="page-section cta" style="padding-left:15px; padding-right:65%;">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner rounded">
                <h2 class="section-heading mb-4" style="padding-left:7px;">
                    <br />
                    <span class="section-heading-upper GreenFontColor ">Bookstore</span>
                    <span class="section-heading-lower GreenFontColor ">Administration</span>
                </h2>
                <br />
            </div>
        </div>
</section>

<br />

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <NavLink class="btn btn-block btn-outline-primary" href="/admin/books"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>

            <NavLink class="btn btn-block btn-outline-primary" href="/admin/checkouts"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Payments</NavLink>

        </div>

        <div class="col">
            @Body
        </div>

    </div>

</div>





